html {
  font-size: 20px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

main {
  text-align: center;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
}

.image-container {
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
}
